@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Black Han Sans", sans-serif;
  background-color: #2f2f2f;
  font-size: 2rem;
}

span {
  cursor: pointer;
  -webkit-text-stroke: 1px #f9f7f1;
  background-image: linear-gradient(0deg, #f9f7f1, #f9f7f1);
  -webkit-background-clip: text;

  color: transparent;

  background-repeat: no-repeat;

  transition: background-size 0.3s ease-in;
}

span:hover {
  background-size: 100% 100%;
}

.left {
  background-position: 0% 0%;
  background-size: 0% 100%;
}

.left:hover {
  filter: drop-shadow(0 0 5px #ff0000);
}

.right {
  background-position: 100% 0%;
  background-size: 0% 100%;
}

.right:hover {
  filter: drop-shadow(0 0 5px #bb00ff);
}

.top {
  background-position: 0% 0%;
  background-size: 100% 0%;
}

.top:hover {
  filter: drop-shadow(0 0 5px #ffd500);
}

.bottom {
  background-position: 0% 100%;
  background-size: 100% 0%;
}

.bottom:hover {
  filter: drop-shadow(0 0 5px #000dff);
}

.center {
  background-position: 50% 50%;
  background-size: 0% 0%;
}

.center:hover {
  filter: drop-shadow(0 0 5px #00e917);
}
